body {
  background: #4CAF50;
  color: #FFF;
  padding: 48px;
  line-height: 1;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #FFF;
  }
}

nav,
footer,
header {
  text-align: center;
}

header {
  h1 {
    font-size: 52px;

    a:hover {
      border: 0;
    }

    em {
      font-size: 32px;
    }
  }
}

nav {
  ul {
    list-style: none;
    width: 512px;
    margin: 48px auto;
    padding: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 1.4;
  }

  li {
    margin: 0 0 0 48px;
    font-size: 22px;
    font-family: "Courgette", cursive;
    display: inline-block;

    &:first-child {
      margin: 0;
    }
  }
}

section {
  width: 512px;
  margin: 0 auto;

  h1 {
    font-size: 36px;
    font-family: "Courgette", cursive;
    text-transform: none;
  }

  p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    line-height: 1.6;
  }
}

footer {
  top: auto;
  bottom: 36px;
  h1 {
    font-size: 22px;
    line-height: 1.4;
  }
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  opacity: 0.9;

  em {
    font-family: "Courgette", cursive;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: lowercase;
    display: block;
    opacity: 0.8;
  }
}
