body {
  background: #4CAF50;
  color: #FFF;
  padding: 48px;
}

body,
address {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

@media screen and (max-width: 512px) {
  body {
    padding: 16px;
  }
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #FFF;
  }
}

nav,
footer,
header {
  text-align: center;
}

header {
  h1 {
    font-size: 52px;

    a:hover {
      border: 0;
    }

    em {
      font-size: 32px;
    }
  }
}

nav {
  ul {
    list-style: none;
    margin: 48px auto;
    padding: 24px 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 1.4;
    max-width: 616px;
  }

  li {
    margin: 0 0 0 32px;
    font-size: 20px;
    font-family: "Courgette", cursive;
    display: inline-block;

    &:first-child {
      margin: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  nav {
    li {
      margin: 0 0 0 16px;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 512px) {
  nav {
    ul {
      padding: 24px 0;
    }

    li {
      margin: 0 0 0 10px;
      font-size: 13px;
    }
  }
}

section {
  margin: 0 auto;
  max-width: 512px;

  h1,
  h2 {
    font-family: "Courgette", cursive;
  }

  h1 {
    font-size: 36px;
    text-transform: none;
  }

  h2,
  h3 {
    margin: 0;
  }

  h2 {
    margin: 32px 0 8px;
  }

  h3 {
    font-weight: 400;
  }

  p,
  address {
    font-size: 18px;
    line-height: 1.6;
  }

  p {
    text-align: justify;
  }

  &.ceremony {
    text-align: center;

    img {
      margin: 12px 0;
      border-radius: 4px;
    }

    address {
      margin: 0 0 48px 0;
    }
  }
}

#slideshow {
  position: relative;
  width: 100%;
  margin: 48px auto;
  max-width: 640px;
  max-height: 480px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    display: block;
    max-width: 640px;
    max-height: 480px;
    animation-duration: 40s;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      position: static;
      animation-name: image-1;
    }

    &:nth-child(2) {
      animation-name: image-2;
    }

    &:nth-child(3) {
      animation-name: image-3;
    }

    &:nth-child(4) {
      animation-name: image-4;
    }

    &:nth-child(5) {
      animation-name: image-5;
    }

    &:nth-child(6) {
      animation-name: image-6;
    }

    &:nth-child(7) {
      animation-name: image-7;
    }
  }
}

footer {
  margin: 48px 0;

  h1 {
    font-size: 22px;
    line-height: 1.4;
  }
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  opacity: 0.9;

  em {
    font-family: "Courgette", cursive;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: lowercase;
    display: block;
    opacity: 0.8;
  }
}

@keyframes image-1 {
  0%             { opacity: 1; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 1; }
}

@keyframes image-2 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 1; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 0; }
}

@keyframes image-3 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 1; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 0; }
}

@keyframes image-4 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 1; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 0; }
}

@keyframes image-5 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 1; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 0; }
}

@keyframes image-6 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 1; }
  85.714285716%  { opacity: 0; }
  100%           { opacity: 0; }
}

@keyframes image-7 {
  0%             { opacity: 0; }
  14.285714286%  { opacity: 0; }
  28.571428572%  { opacity: 0; }
  42.857142858%  { opacity: 0; }
  57.142857144%  { opacity: 0; }
  71.42857143%   { opacity: 0; }
  85.714285716%  { opacity: 1; }
  100%           { opacity: 0; }
}
